---
layout: grade
title: "Course Grades"
permalink: /grades/
author_profile: true
---

{% include base_path %}

<a href="https://github.com/AliMorty/AliMorty.github.io/blob/master/files/Mortazavi_All_Grades.pdf">Download All_Grades.pdf</a>
{% include My_Selected_Grades.html %}
## Some markdown files new change
<div class="tip" markdown="1">

Have **fun!** <br> ## HEADING 

</div>
### SIX | strip_html | strip_newlines | escape_once
<meta itemprop="description" content="{{ ## hello <br> I am happy | markdownify  }}">


{% for post in site.grades reversed %}
  {% include archive-single-grade.html %}
{% endfor %}
